body {
  background-image: url(/assets/images/bg-main.svg);
  background-repeat: repeat;
  overflow-x: hidden;
  ::selection {
    color: $second-200; /* 選取文字的顏色 */
    background-color: $second-400; /* 選取文字的背景顏色 */
  }
}
.bg-brown {
  background-image: url(/assets/images/bg-brown.png);
}
.bg-map {
  background-image: url(/assets/images/bg-map.svg);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  // text-decoration: none; //已設定 $link-decoration: none
  color: inherit;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // margin-bottom: 0;
  letter-spacing: 0.05em;
}

p {
  // margin-bottom: 0;
  letter-spacing: 0.05em; //em 以目前 p 標籤的文字大小做計算
}

ol,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.font-lora {
  font-family: "Lora" !important;
}

.object-fit {
  object-fit: cover;
}
