<footer class="footer bg-white">
  <div
    class="container d-flex flex-column align-items-center flex-lg-row pt-10 pb-10 pt-lg-13 pb-lg-13"
  >
    <img src="/assets/images/logo.svg" alt="logo" />
    <div
      class="d-flex flex-column align-items-center align-items-lg-start ms-lg-6 w-100"
    >
      <ul class="list fw-bold mt-5 text-neutral-800 d-lg-flex mt-lg-6 mb-lg-6">
        <li>
          <a
            class="list-link fs-6 ms-2 me-2 p-2 ps-lg-4 pe-lg-4"
            href="brandIntroduction.html"
            >品牌介紹</a
          >
        </li>
        <li>
          <a class="list-link fs-6 ms-2 me-2 p-2 ps-lg-4 pe-lg-4" href="#"
            >飲品菜單</a
          >
        </li>
        <li>
          <a
            class="list-link fs-6 ms-2 me-2 p-2 ps-lg-4 pe-lg-4"
            href="latestNew-index.html"
            >最新消息</a
          >
        </li>
        <li>
          <a class="list-link fs-6 ms-2 me-2 p-2 ps-lg-4 pe-lg-4" href="#"
            >門市據點</a
          >
        </li>
        <li>
          <a
            class="list-link fs-6 ms-2 me-2 p-2 ps-lg-4 pe-lg-4"
            href="./reservation.html"
            >線上寄杯</a
          >
        </li>
      </ul>
      <div class="d-lg-flex w-100 justify-content-lg-between">
        <ul
          class="d-flex flex-column align-items-center fw-bold text-primary-main mt-5 mb-5 flex-lg-row mt-lg-6 mb-lg-8"
        >
          <li class="mb-4 mb-lg-0 me-lg-11">
            <a href="tel:0800-000-000"
              ><i class="me-2" data-feather="phone"></i>0800-000-000</a
            >
          </li>
          <li>
            <a href="mailto:teazui@business.com"
              ><i class="me-2" data-feather="mail"></i>teazui@business.com</a
            >
          </li>
        </ul>
        <ul
          class="d-flex justify-content-center social-links align-items-lg-center"
        >
          <li class="ms-2 me-2">
            <a
              class="bg-primary-main text-white rounded d-flex justify-content-center align-items-center"
              href="#"
              ><i class="bi bi-facebook d-block"></i
            ></a>
          </li>
          <li class="ms-2 me-2">
            <a
              class="bg-primary-main text-white rounded d-flex justify-content-center align-items-center"
              href="#"
              ><i class="bi bi-line d-block"></i
            ></a>
          </li>
          <li class="ms-2 me-2">
            <a
              class="bg-primary-main text-white rounded d-flex justify-content-center align-items-center"
              href="#"
              ><i class="bi bi-instagram d-block"></i
            ></a>
          </li>
        </ul>
      </div>
      <div
        class="text-primary-main border-top border-primary-200 mt-5 mb-5 text-center mb-lg-0 text-lg-start copyright"
      >
        <small class="d-block mt-5 mb-2 d-lg-inline-block mb-lg-0"
          >© 2024 Copyright 茶醉 TeaZui. All Rights Reserved.
        </small>
        <small class="d-block d-lg-inline"
          >此網站為僅供學習使用，無任何商業用途</small
        >
      </div>
    </div>
  </div>
</footer>
