<nav class="navbar navbar-expand-lg nav-other">
  <div class="container">
    <div class="container-fluid d-lg-flex">
      <div class="position-relative">
        <div class="d-flex align-items-center">
          <div>
            <a class="navbar-brand" href="./index.html">
              <picture>
                <source
                  srcset="/assets/images/logo-sm.svg"
                  media="(max-width: 992px)"
                />
                <img src="/assets/images/logo.svg" alt="logo" />
              </picture>
            </a>
          </div>
        </div>
        <button
          class="navbar-toggler position-absolute top-50 end-0 translate-middle-y"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-between w-100">
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarNavAltMarkup"
        >
          <div class="navbar-nav text-center fs-6 fw-bold">
            <a
              class="nav-link px-4 py-2 my-5"
              aria-current="page"
              href="brandIntroduction.html"
              >品牌介紹</a
            >
            <a class="nav-link px-4 py-2 my-5" href="menu.html">飲品菜單</a>
            <a class="nav-link px-4 py-2 my-5" href="latestNew-index.html"
              >最新消息</a
            >
            <a class="nav-link px-4 py-2 my-5" href="store.html">門市據點</a>
            <a class="nav-link px-4 py-2 my-5" href="reservation.html"
              >線上寄杯</a
            >
            <div class="d-flex d-lg-none justify-content-center my-5">
              <a href="#" class="px-3 py-2"
                ><i data-feather="user" style="width: 20px; height: 20px"></i
              ></a>
              <a href="shoppingCart.html" class="position-relative mx-3 my-2"
                ><i
                  data-feather="shopping-cart"
                  style="width: 20px; height: 20px"
                ></i>
                <span
                  class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-1"
                  >99</span
                ></a
              >
            </div>
          </div>
        </div>
        <div class="d-flex d-lg-block d-none">
          <a href="#" class="p-3"
            ><i data-feather="user" style="width: 20px; height: 20px"></i
          ></a>
          <a href="shoppingCart.html" class="position-relative m-3"
            ><i
              data-feather="shopping-cart"
              style="width: 20px; height: 20px"
            ></i>
            <span
              class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-danger p-1"
              >99</span
            ></a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
