<section class="store-map">
  <div class="bg-map">
    <div
      class="d-flex align-items-lg-start justify-content-center pt-md-12 pt-0 pb-md-12 pb-10 px-0 container"
      data-aos="fade-up"
      data-aos-duration="300"
    >
      <img
        src="/assets/images/leaf-4.svg"
        alt="leaf"
        class="me-6 d-lg-block d-none"
      />
      <div
        class="d-flex flex-lg-row flex-column-reverse align-items-lg-end align-items-center gap-6 pt-lg-13 pt-6"
      >
        <div class="slogan">
          <h2 class="text-neutral-50 fs-md-2 fs-6 mb-4">來喝杯吧！</h2>
          <h2 class="text-neutral-50 fs-md-2 fs-6 mb-8">
            快速查詢，美味就在你身邊
          </h2>
          <a href="store.html" class="btn rounded-0 custom-btn-white">
            <h6 class="d-flex align-items-center">
              門市據點<img
                src="/assets/images/arrow-second-main.svg"
                alt="arrow"
                class="ms-2"
              />
            </h6>
          </a>
        </div>
        <img
          src="/assets/images/store.png"
          alt="store"
          class="px-md-0 px-11 py-md-0 py-4"
        />
      </div>
    </div>
  </div>
</section>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
