// 加入購物車按鈕 - 主色
.card-buy-btn-primary {
  border: unset;
  padding: 0;
  @include media-breakpoint-up(md) {
    border: 1px solid #866654;
    padding: 4px;
  }
  p {
    letter-spacing: 0.02em;
    color: #fafafa;
    padding: 12px 0px;
    background-color: #866654;
  }
}
// 加入購物車按鈕 - 綠色
.card-buy-btn-second {
  border: unset;
  padding: 0;
  @include media-breakpoint-up(md) {
    border: 1px solid #496a54;
    padding: 4px;
  }
  p {
    letter-spacing: 0.02em;
    color: #fafafa;
    padding: 12px 0px;
    background-color: #496a54;
  }
}

// for 含箭頭的白底按鈕
.custom-btn-white {
  border: 1px solid #fafafa;
  padding: 8px;
  h6 {
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #496a54;
    padding: 10px 18.5px;
    background-color: #fafafa;
  }
}

// for 含箭頭的綠底按鈕
.custom-btn-second {
  border: 1px solid #496a54;
  padding: 8px;
  h6 {
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #fafafa;
    padding: 10px 18.5px;
    background-color: #496a54;
  }
}

// 數量加減按鈕群組
.quantity-controls {
  color: #866654;
  .btn-group,
  .btn {
    border-radius: 0 !important;
  }
  .btn-group {
    border: 1px solid #866654;
  }
  .add-down,
  .add-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: initial;
    padding: 8px;
    background-color: rgba(134, 102, 84, 0.2);
    svg {
      width: 16px;
      height: 16px;
    }
  }
  .add-down {
    margin: 4px 0px 4px 4px;
  }
  .add-up {
    margin: 4px 4px 4px 0px;
  }
  input {
    padding: 8px 0px;
  }
}
