.header {
  .nav-index {
    padding-top: 16px;
    padding-bottom: 16px;
    @include desktop {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    .nav-link {
      color: #262626;
    }
    .nav-link:hover {
      color: #866654;
    }
  }

  &-bg {
    background-image: url(/assets/images/banner2.png);
    background-size: cover;

    @include desktop {
      background-image: url(/assets/images/banner.png);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  h1 {
    font-size: 24px;
    @include desktop {
      font-size: 50px;
      letter-spacing: 0.15em;
    }
  }
  .ml {
    @include desktop {
      margin-left: 73.6px;
    }
  }

  .title {
    padding-top: 16px;
    padding-bottom: 40px;
    @include desktop {
      padding-top: 72px;
    }
  }
}

.quality-intr {
  h2 {
    font-size: 24px;
    @include desktop {
      font-size: 40px;
    }
  }
  p {
    font-size: 24px;
    @include desktop {
      font-size: 40px;
    }
  }
}

.newProduct {
  h2 {
    @include desktop {
      font-size: 82px;
    }
  }
  h3 {
    font-size: 20px;
    @include desktop {
      font-size: 32px;
    }
  }
  p {
    font-size: 20px;
  }
  .container {
    position: relative;
  }
  .left {
    position: absolute;
    left: 65%;
    top: -10px;
  }

  .col-lg-3 {
    margin-right: -40px;
    z-index: 1;
  }
}

.threeChooses {
  background-image: url(/assets/images/bg-brown.png);
  @include desktop {
    margin-top: 400px;
    background-image: url(/assets/images/bg-green.png);
    background-size: 95% 100%;
    background-position: center right;
    background-repeat: no-repeat;
  }
  .bg-setting {
    margin-top: -200px;
  }
  h4 {
    left: 20px;
    bottom: 30px;
  }
  h5 {
    font-size: 28px;
    @include desktop {
      font-size: 48px;
    }
  }
  .col-4 {
  }
  .drinkImg {
    border-radius: 120px;
    background-color: white;
    padding: 24px 32px;
    margin-top: 42px;
  }
}

.sent {
  background-image: url(/assets/images/bg-allwhite.png);
  @include desktop {
    background-image: url("/assets/images/background-white.png");
    background-size: 60% 100%;
    background-position: left center;
    background-repeat: no-repeat;
    margin-top: 120px;
  }
  .container {
    padding-top: 63px;
    padding-bottom: 43px;
  }
  h4 {
    font-size: 20px;
    @include desktop {
      font-size: 40px;
    }
  }
}

// button-main
.btn-index-main {
  width: auto;
  border: 1px solid #866654;
  padding: 8px;
  width: 174px;
  p {
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #fafafa;
    padding: 10px 0px;
    background-color: #866654;
  }
}
.btn-index-main:hover {
  border-color: transparent;
}
