.shopping-guide {
  .shopping-guide-info ol > li {
    color: #262626;
    font-size: 16px;
    line-height: 27.2px !important;
    letter-spacing: 0.02em;
  }
  // .shopping-guide-info ol > li::selection {
  //   color: $second-200; /* 選取文字的顏色 */
  //   background-color: $second-400; /* 選取文字的背景顏色 */
  // }
}

.storage-regular {
  svg,
  h3 {
    color: $primary-main !important;
  }
  &-title {
    width: calc(100% - 32px);
    padding: 8px 0px;
    background-color: #7171711a;
    border-radius: 80px;
    h3 {
      letter-spacing: 0.05em;
    }
    @include media-breakpoint-up(md) {
      width: auto;
      padding: 8px 80px;
    }
  }
}
.storage-regular-list {
  display: flex;
  .storage-regular-items {
    border: 1px solid #866654;
    img {
      background-color: #fafafa;
    }
    .card {
      background-color: transparent;
      border: 0;
      overflow: clip;
      &:hover .card-img-top {
        transform: scale(1.1); /* 當 hover 時放大 1.1 倍 */
      }
    }
    .card-img-wrapper {
      max-height: 306px;
      overflow: clip;
    }
    .card-img-top {
      object-fit: cover;
      border-radius: unset;
      transition: transform 0.2s ease; /* 平滑過渡 */
    }
    .card-title {
      letter-spacing: 0.05em;
    }
    .font-lora h6 {
      color: #262626;
    }
    .font-lora small {
      color: #525252;
    }
    .btn-wrapper {
      padding: 0px 8px 8px 8px;
    }
  }
}

.storage-reusable {
  svg,
  h3 {
    color: $second-400 !important;
  }
  &-title {
    width: calc(100% - 32px);
    padding: 8px 0px;
    background-color: #7171711a;
    border-radius: 80px;
    h3 {
      letter-spacing: 0.05em;
    }
    @include media-breakpoint-up(md) {
      width: auto;
      padding: 8px 80px;
    }
  }
}
.storage-reusable-list {
  display: flex;
  .storage-reusable-items {
    border: 1px solid #496a54;
    img {
      background-color: #fafafa;
    }
    .card {
      background-color: transparent;
      border: 0;
      overflow: clip;
      &:hover .card-img-top {
        transform: scale(1.1); /* 當 hover 時放大 1.1 倍 */
      }
    }
    .card-img-wrapper {
      max-height: 306px;
      overflow: clip;
    }
    .card-img-top {
      object-fit: cover;
      border-radius: unset;
      transition: transform 0.2s ease; /* 平滑過渡 */
    }
    .card-title {
      letter-spacing: 0.05em;
    }
    .btn-wrapper {
      padding: 0px 8px 8px 8px;
    }
  }
}

.card-reset {
  .card {
    border-radius: 0 !important;
  }
  .card-title {
    margin-bottom: 0;
  }
}

.item-tag {
  letter-spacing: 0.02em;
}
