.product-intro {
  letter-spacing: 0.02em;
  .card-img-top {
    max-height: 240px;
    @include media-breakpoint-up(md) {
      max-height: 356px;
    }
  }
}

.product-section {
  letter-spacing: 0.02em;
  .nav-link {
    color: #525252;
    background-color: #52525233;
    border-radius: unset;
    padding: 16px 0px;
    &.active {
      color: #fafafa;
      background-color: #525252;
    }
  }
  #pills-home,
  #pills-profile,
  #pills-contact {
    scroll-margin-top: 90px; /* 調整這個數值根據 nav 的高度來設定 */
  }
  .product-section-list {
    border: 1px solid #525252;
  }
}

.more-drinks {
  .storage-regular {
    padding: 40px 0px;
    @include media-breakpoint-up(lg) {
      padding: 80px 0px;
    }
  }
  .storage-regular-list {
    padding: 0px 60px;
    @include media-breakpoint-up(sm) {
      padding: 0px 80px;
    }
    @include media-breakpoint-up(lg) {
      padding: 0px;
    }
  }
  .storage-regular-title {
    width: auto;
    padding: 8px 24px;
    @include media-breakpoint-up(lg) {
      padding: 8px 80px;
    }
  }
  .mobile {
    .card {
      &:hover .card-img-top {
        transform: none;
      }
    }
  }
}

.drink-pick {
  padding: 40px 0px;
  @include media-breakpoint-up(lg) {
    padding: 80px 0px;
  }
  svg,
  h3 {
    color: #496a54 !important;
  }
  &-title {
    background-color: #7171711a;
    border-radius: 80px;
    width: auto;
    padding: 8px 24px;
    @include media-breakpoint-up(lg) {
      padding: 8px 80px;
    }
    h3 {
      letter-spacing: 0.05em;
    }
    @include media-breakpoint-up(md) {
      width: auto;
      padding: 8px 80px;
    }
  }
}
.drink-pick-list {
  display: flex;
  padding: 0px 60px;
  @include media-breakpoint-up(sm) {
    padding: 0px 80px;
  }
  @include media-breakpoint-up(lg) {
    padding: 0px;
  }
  .drink-pick-items {
    border: 1px solid #496a54;
    img {
      background-color: #fafafa;
    }
    .card {
      background-color: transparent;
      border: 0;
      overflow: clip;
      &:hover .card-img-top {
        transform: scale(1.1); /* 當 hover 時放大 1.1 倍 */
      }
    }
    .item-tag {
      padding: 8px;
    }
    .storage-regular {
      color: #866654;
      background-color: #e9e4e1;
    }
    .summer-limited {
      color: #e89202;
      background-color: #ecdfc8;
    }
    .winter-limited {
      color: #1185bf;
      background-color: #e1f5ff;
    }
    .new-arrival {
      color: #b91c1c;
      background-color: #e2cfcf;
    }
    .card-img-wrapper {
      max-height: 306px;
      overflow: clip;
    }
    .card-img-top {
      object-fit: cover;
      border-radius: unset;
      transition: transform 0.2s ease; /* 平滑過渡 */
    }
    .card-title {
      font-weight: 700;
      letter-spacing: 0.05em;
    }
    .card-body {
      height: 58.39px;
    }
  }
}
.drink-pick-section {
  .mobile {
    .card {
      &:hover .card-img-top {
        transform: none;
      }
    }
  }
}
