<!DOCTYPE html>
<html lang="zh-Hant">
  <%- include('./layout/head', { title: '最新消息 - 周邊商品' }); -%>
  <body>
    <%- include('./layout/header'); -%>
    <section
      class="news-header d-flex justify-content-center align-items-center"
    >
      <div class="container">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <h2 class="text-primary-main fw-bold font-lora">LATEST NEWS</h2>
          <h1 class="text-primary-main fs-4 my-5">
            <i class="bi bi-flower3"></i> 最新消息
            <i class="bi bi-flower3"></i>
          </h1>
        </div>
      </div>
    </section>

    <section class="container">
      <div class="news-nav my-7">
        <ul class="d-none d-lg-block text-center">
          <li
            class="d-inline-block px-5 text-neutral-600 border-end border-neutral-400"
          >
            <a href="latestNew-index.html">所有訊息</a>
          </li>
          <li
            class="d-inline-block px-5 text-neutral-600 border-end border-neutral-400"
          >
            <a href="latestNwe-important.html">重要資訊</a>
          </li>
          <li
            class="d-inline-block px-5 text-neutral-600 border-end border-neutral-400"
          >
            <a href="latestNew-newProduct.html">新品上市</a>
          </li>
          <li
            class="d-inline-block px-5 text-neutral-600 border-end border-neutral-400"
          >
            <a href="latestNew-newStore.html">門市開幕</a>
          </li>
          <li
            class="d-inline-block px-5 text-neutral-600 border-end border-neutral-400"
          >
            <a href="#">周邊商品</a>
          </li>
          <li class="d-inline-block px-5 text-neutral-600">
            <a href="latestNew-membersOnly.html">會員專屬</a>
          </li>
        </ul>
      </div>

      <div class="dropdown d-lg-none">
        <button
          class="btn border border-neutral-400 w-100 dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          所有訊息
        </button>
        <ul class="dropdown-menu w-100 text-center align-center">
          <li>
            <a class="dropdown-item py-7" href="latestNew-index.html"
              >所有訊息</a
            >
          </li>
          <li>
            <a class="dropdown-item py-7" href="latestNwe-important.html"
              >重要資訊</a
            >
          </li>
          <li>
            <a class="dropdown-item py-7" href="latestNew-newProduct.html"
              >新品上市</a
            >
          </li>
          <li>
            <a class="dropdown-item py-7" href="latestNew-newStore.html"
              >門市開幕</a
            >
          </li>
          <li>
            <a class="dropdown-item py-7" href="#">周邊商品</a>
          </li>
          <li>
            <a class="dropdown-item py-7" href="latestNew-membersOnly.html"
              >會員專屬</a
            >
          </li>
        </ul>
      </div>
    </section>

    <main class="container mb-13">
      <div class="row">
        <div class="col-lg-6 gy-4">
          <div class="card mb-3 rounded-0">
            <div class="row">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="/assets/images/news-cup.jpg"
                  alt="cup"
                  class="w-100"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary-main fw-bold">周邊商品</h5>
                  <p class="card-text mb-3">
                    <small class="text-body-secondary">2024.7.7</small>
                  </p>
                  <p class="card-text">
                    日本極簡風格畫家 xxx 合作<br />
                    打造出充滿藝術氣息的簡約字體馬克杯。杯身設計簡約優雅，融入手寫風字體，既實用又具收藏價值。消費滿300元，即可享優惠加購。
                  </p>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn rounded-0 btn-latestNew-main mt-8"
                    >
                      <p
                        class="d-flex align-items-center justify-content-center"
                      >
                        查看更多
                        <img
                          src="/assets/images/arrow-neutral-50.svg"
                          alt="arrow"
                          class="ms-2"
                        />
                      </p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <%- include('./layout/storeMap'); -%> <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
