<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>線上寄杯</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="/assets/images/news-mango-juice.jpg"
                  class="h-100 w-100"
                  alt="mango-juice "
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary-main fw-bold">新品上市</h5>
                  <p class="card-text mb-3">
                    <small class="text-body-secondary">2024.7.7</small>
                  </p>
                  <p class="card-text">
                    夏日限定， 芒果系列全新登場!<br />
                    採用在地果農精心挑選的新鮮芒果，滿滿果香，濃郁順口，入口即化的芒果牛奶以及果香與茶韻交融的芒果烏龍，快來試試!
                  </p>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn rounded-0 btn-index-main mt-8"
                    >
                      <p
                        class="d-flex align-items-center justify-content-center"
                      >
                        查看更多
                        <img
                          src="/assets/images/arrow-neutral-50.svg"
                          alt="arrow"
                          class="ms-2"
                        />
                      </p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="/assets/images/news-cup.jpg"
                  class="h-100 w-100"
                  alt="cup"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary-main fw-bold">周邊商品</h5>
                  <p class="card-text mb-3">
                    <small class="text-body-secondary">2024.7.7</small>
                  </p>
                  <p class="card-text">
                    日本極簡風格畫家 xxx 合作<br />
                    打造出充滿藝術氣息的簡約字體馬克杯。杯身設計簡約優雅，融入手寫風字體，既實用又具收藏價值。消費滿300元，即可享優惠加購。
                  </p>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn rounded-0 btn-index-main mt-8"
                    >
                      <p
                        class="d-flex align-items-center justify-content-center"
                      >
                        查看更多
                        <img
                          src="/assets/images/arrow-neutral-50.svg"
                          alt="arrow"
                          class="ms-2"
                        />
                      </p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="/assets/images/news-member-day.png"
                  class="h-100 w-100"
                  alt="news-member-day"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary-main fw-bold">會員專屬</h5>
                  <p class="card-text mb-3">
                    <small class="text-body-secondary">2024.7.7</small>
                  </p>
                  <p class="card-text">
                    活動期間:2024/7/1~2024/11/01<br />
                    週五會員日，購買指定飲品享7折優惠，加珍珠不加價，趕快把握機會!
                  </p>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn rounded-0 btn-index-main mt-8"
                    >
                      <p
                        class="d-flex align-items-center justify-content-center"
                      >
                        查看更多
                        <img
                          src="/assets/images/arrow-neutral-50.svg"
                          alt="arrow"
                          class="ms-2"
                        />
                      </p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="/assets/images/news-shop.jpg"
                  class="h-100 w-100"
                  alt="new opening"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary-main fw-bold">門市開幕</h5>
                  <p class="card-text mb-3">
                    <small class="text-body-secondary">2024.7.7</small>
                  </p>
                  <p class="card-text">
                    茶醉TEA ZUI(台北信義店)<br />門市地址：台北市信義區信義路100號
                    <br />聯繫電話：02-12345678
                  </p>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn rounded-0 btn-index-main mt-8"
                    >
                      <p
                        class="d-flex align-items-center justify-content-center"
                      >
                        查看更多
                        <img
                          src="/assets/images/arrow-neutral-50.svg"
                          alt="arrow"
                          class="ms-2"
                        />
                      </p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="/assets/images/news-mango-juice.jpg"
                  class="h-100 w-100"
                  alt="mango-juice "
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary-main fw-bold">新品上市</h5>
                  <p class="card-text mb-3">
                    <small class="text-body-secondary">2024.7.7</small>
                  </p>
                  <p class="card-text">
                    夏日限定， 芒果系列全新登場!<br />
                    採用在地果農精心挑選的新鮮芒果，滿滿果香，濃郁順口，入口即化的芒果牛奶以及果香與茶韻交融的芒果烏龍，快來試試!
                  </p>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn rounded-0 btn-index-main mt-8"
                    >
                      <p
                        class="d-flex align-items-center justify-content-center"
                      >
                        查看更多
                        <img
                          src="/assets/images/arrow-neutral-50.svg"
                          alt="arrow"
                          class="ms-2"
                        />
                      </p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="/assets/images/news-cup.jpg"
                  class="h-100 w-100"
                  alt="cup"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary-main fw-bold">周邊商品</h5>
                  <p class="card-text mb-3">
                    <small class="text-body-secondary">2024.7.7</small>
                  </p>
                  <p class="card-text">
                    日本極簡風格畫家 xxx 合作<br />
                    打造出充滿藝術氣息的簡約字體馬克杯。杯身設計簡約優雅，融入手寫風字體，既實用又具收藏價值。消費滿300元，即可享優惠加購。
                  </p>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn rounded-0 btn-index-main mt-8"
                    >
                      <p
                        class="d-flex align-items-center justify-content-center"
                      >
                        查看更多
                        <img
                          src="/assets/images/arrow-neutral-50.svg"
                          alt="arrow"
                          class="ms-2"
                        />
                      </p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="/assets/images/news-member-day.png"
                  class="h-100 w-100"
                  alt="news-member-day"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary-main fw-bold">會員專屬</h5>
                  <p class="card-text mb-3">
                    <small class="text-body-secondary">2024.7.7</small>
                  </p>
                  <p class="card-text">
                    活動期間:2024/7/1~2024/11/01<br />
                    週五會員日，購買指定飲品享7折優惠，加珍珠不加價，趕快把握機會!
                  </p>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn rounded-0 btn-index-main mt-8"
                    >
                      <p
                        class="d-flex align-items-center justify-content-center"
                      >
                        查看更多
                        <img
                          src="/assets/images/arrow-neutral-50.svg"
                          alt="arrow"
                          class="ms-2"
                        />
                      </p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4 d-flex justify-content-center">
                <img
                  src="/assets/images/news-shop.jpg"
                  class="h-100 w-100"
                  alt="new opening"
                />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title text-primary-main fw-bold">門市開幕</h5>
                  <p class="card-text mb-3">
                    <small class="text-body-secondary">2024.7.7</small>
                  </p>
                  <p class="card-text">
                    茶醉TEA ZUI(台北信義店)<br />門市地址：台北市信義區信義路100號
                    <br />聯繫電話：02-12345678
                  </p>
                  <div class="d-flex justify-content-end">
                    <button
                      type="button"
                      class="btn rounded-0 btn-index-main mt-8"
                    >
                      <p
                        class="d-flex align-items-center justify-content-center"
                      >
                        查看更多
                        <img
                          src="/assets/images/arrow-neutral-50.svg"
                          alt="arrow"
                          class="ms-2"
                        />
                      </p>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
