<!DOCTYPE html>
<html lang="zh-Hant">
  <%- include('./layout/head', { title: '飲品菜單' }); -%>
  <body>
    <%- include('./layout/header'); -%>

    <!-- 夏季限定 -->
    <section
      class="menu-newProduct overflow-hidden"
      data-aos="zoom-in"
      data-aos-duration="700"
    >
      <div class="newProduct">
        <div class="container my-lg-10">
          <img
            class="left d-lg-none"
            style="width: 164px; height: 80px"
            src="/assets/images/leaf-3.svg"
            alt="leaf"
          />
          <div class="row d-flex align-items-center">
            <div
              class="col-6 d-flex justify-content-center align-items-center d-lg-none"
            >
              <img
                class="mt-11"
                src="/assets/images/mango.png"
                alt="mango oolong tea"
              />
            </div>

            <div class="col-6 text-center d-lg-none">
              <h2 class="mt-11 fs-sm-1 fs-3 fw-bold">夏季限定</h2>
              <h2 class="mb-11 fs-sm-1 fs-3 fw-bold">芒果烏龍</h2>
            </div>

            <div class="col-lg-4 d-none d-lg-block">
              <h2 class="fw-bold">夏季限定</h2>
              <h2 class="text-center my-9 fw-bold">芒果烏龍</h2>
              <div class="d-flex justify-content-center">
                <img
                  style="width: 180px; height: 150px"
                  src="/assets/images/leaf-3.svg"
                  alt="leaf"
                />
              </div>
            </div>
            <div
              class="d-flex justify-content-center align-items-center col-lg-3 d-none d-lg-block"
            >
              <img
                class=""
                src="/assets/images/mango.png"
                alt="mango oolong tea"
              />
            </div>
            <div class="col-12 col-lg-5">
              <h3
                class="text-second-400 text-center fw-bold my-6 mb-lg-4 text-lg-start product-slogan"
              >
                夏日經典風味 Q彈新潮呈現
              </h3>
              <div class="text-center text-lg-start mb-10 product-info">
                <div class="mb-2">
                  <p class="d-inline-block text-neutral-800">芒果烏龍</p>
                  <span
                    class="rounded-pill px-2 bg-danger text-white align-text-top"
                    >New</span
                  >
                </div>
                <div class="mb-6 mb-lg-9">
                  <p class="d-inline-block text-neutral-800">芒果牛奶</p>
                  <span
                    class="rounded-pill px-2 bg-danger text-white align-text-top"
                    >New</span
                  >
                </div>
                <h6 class="text-neutral-800 mb-1 fs-lg-6 fs-body">
                  將陽光灑進芒果，讓味蕾翩翩起舞
                </h6>
                <p class="text-primary-main fs-small">
                  (飲品含有芒果、奶製品不適合對其過敏體質者食用)
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 飲品清單 -->
    <div class="overflow-hidden">
      <!-- 純粹 -->
      <section data-aos="fade-up-right">
        <div class="drink-sort container">
          <h2 class="drink-sort-title">純粹</h2>
          <div class="row row-cols-1 row-cols-sm-2 drink-sort-row">
            <div class="col">
              <div class="drink-img-wrapper">
                <img
                  src="/assets/images/drink-4-w210.svg"
                  alt="招牌紅茶"
                  class="drink-img"
                />
              </div>
            </div>
            <div class="col">
              <ul class="menu-list">
                <li>
                  <div class="menu-tui">
                    <i data-feather="thumbs-up"></i>
                  </div>
                  <div class="menu-info">
                    <div class="zh drinkname show">招牌紅茶</div>
                    <div class="cost font-lora">NT$40</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">玉露綠茶</div>
                    <div class="cost font-lora">NT$35</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">四季青茶</div>
                    <div class="cost font-lora">NT$35</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">金萱烏龍</div>
                    <div class="cost font-lora">NT$35</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">焙香蕎麥</div>
                    <div class="cost font-lora">NT$30</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- 奶茶 -->
      <section class="milk-tea" data-aos="fade-up-left">
        <div class="drink-sort container">
          <h2 class="drink-sort-title">奶茶</h2>
          <div class="row row-cols-1 row-cols-sm-2 drink-sort-row">
            <div class="col">
              <div class="drink-img-wrapper">
                <img
                  src="/assets/images/drink-1-w210-h171.png"
                  alt="義式奶茶"
                  class="drink-img"
                />
              </div>
            </div>
            <div class="col">
              <ul class="menu-list">
                <li>
                  <div class="menu-tui">
                    <p class="font-lora">New</p>
                  </div>
                  <div class="menu-info">
                    <div class="zh drinkname show">義式奶茶</div>
                    <div class="cost font-lora">NT$50</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">玉露奶綠</div>
                    <div class="cost font-lora">NT$45</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">烏龍奶茶</div>
                    <div class="cost font-lora">NT$45</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">蕎麥奶茶</div>
                    <div class="cost font-lora">NT$40</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- 鮮奶 -->
      <section class="milk" data-aos="fade-up-right">
        <div class="drink-sort container">
          <h2 class="drink-sort-title">鮮奶<span> / 過敏原:牛奶</span></h2>
          <div class="row row-cols-1 row-cols-sm-2 drink-sort-row">
            <div class="col">
              <div class="drink-img-wrapper">
                <img
                  src="/assets/images/drink-9.png"
                  alt="蕎麥拿鐵"
                  class="drink-img"
                />
              </div>
            </div>
            <div class="col">
              <ul class="menu-list">
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">招牌拿鐵</div>
                    <div class="cost font-lora">NT$50</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">玉露拿鐵</div>
                    <div class="cost font-lora">NT$55</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">烏龍拿鐵</div>
                    <div class="cost font-lora">NT$55</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui">
                    <i data-feather="thumbs-up"></i>
                  </div>
                  <div class="menu-info">
                    <div class="zh drinkname show">蕎麥拿鐵</div>
                    <div class="cost font-lora">NT$50</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">可可拿鐵</div>
                    <div class="cost font-lora">NT$60</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- 鮮粹 -->
      <section class="fresh" data-aos="fade-up-left">
        <div class="drink-sort container">
          <h2 class="drink-sort-title">鮮粹</h2>
          <div class="row row-cols-1 row-cols-sm-2 drink-sort-row">
            <div class="col">
              <div class="drink-img-wrapper">
                <img
                  src="/assets/images/drink-3-w240.png"
                  alt="蜂蜜檸檬"
                  class="drink-img"
                />
              </div>
            </div>
            <div class="col">
              <ul class="menu-list">
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">百香綠茶</div>
                    <div class="cost font-lora">NT$50</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">檸檬紅茶</div>
                    <div class="cost font-lora">NT$45</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">檸檬綠茶</div>
                    <div class="cost font-lora">NT$45</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui">
                    <i data-feather="thumbs-up"></i>
                  </div>
                  <div class="menu-info">
                    <div class="zh drinkname show">蜂蜜檸檬</div>
                    <div class="cost font-lora">NT$50</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">
                      葡萄果粒茶
                      <span class="coming">⟨ 即將推出 ⟩</span>
                    </div>
                    <div class="cost font-lora">NT$60</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- 冬露 -->
      <section class="fresh" data-aos="fade-up-right">
        <div class="drink-sort container">
          <h2 class="drink-sort-title">冬露</h2>
          <div class="row row-cols-1 row-cols-sm-2 drink-sort-row">
            <div class="col">
              <div class="drink-img-wrapper">
                <img
                  src="/assets/images/drink-3-w240.png"
                  alt="蜂蜜檸檬"
                  class="drink-img"
                />
              </div>
            </div>
            <div class="col">
              <ul class="menu-list">
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">冬露</div>
                    <div class="cost font-lora">NT$40</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">招牌冬露</div>
                    <div class="cost font-lora">NT$45</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui">
                    <i data-feather="thumbs-up"></i>
                  </div>
                  <div class="menu-info">
                    <div class="zh drinkname show">檸檬冬露</div>
                    <div class="cost font-lora">NT$50</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">菊花冬露</div>
                    <div class="cost font-lora">NT$45</div>
                  </div>
                </li>
                <li>
                  <div class="menu-tui"></div>
                  <div class="menu-info">
                    <div class="zh drinkname show">冬露鮮奶</div>
                    <div class="cost font-lora">NT$60</div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div
      class="text-center pb-11 mb-12 container"
      data-aos="zoom-in"
      data-aos-duration="300"
      data-aos-anchor-placement="top-bottom"
    >
      <a href="store.html" class="btn rounded-0 custom-btn-second">
        <h6 class="d-flex align-items-center">
          找找門市<img
            src="/assets/images/arrow-neutral-50.svg"
            alt="arrow"
            class="ms-2"
          />
        </h6>
      </a>
    </div>

    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
