<!DOCTYPE html>
<html lang="zh-Hant">
  <%- include('./layout/head', { title: '線上寄杯' }); -%>
  <body>
    <%- include('./layout/header'); -%>

    <section
      class="bg-brown overflow-hidden"
      data-aos="zoom-in"
      data-aos-duration="700"
    >
      <div class="py-lg-12 py-6 px-0 shopping-guide container">
        <div class="row m-0">
          <div
            class="d-flex flex-lg-row flex-column justify-content-lg-between align-items-center"
          >
            <div class="col h-100">
              <picture>
                <source
                  srcset="../assets/images/shopping-guide-sm.png"
                  media="(max-width: 992px)"
                />
                <img
                  src="../assets/images/shopping-guide.png"
                  alt=""
                  class="h-100 object-fit rounded-4"
                />
              </picture>
            </div>

            <div class="col">
              <div class="d-flex flex-column gap-6 ps-lg-9 shopping-guide-info">
                <h1 class="text-second-400 fs-lg-1 fs-5 pt-lg-0 pt-6">
                  購物須知
                </h1>
                <ol>
                  <li>1. 請出示票券給服務人員作核銷, 每張票券限使用一次</li>
                  <li>2. 票券不得加價加料</li>
                  <li>3. 票券可轉贈</li>
                  <li>4. 票券使用期限為 90 天</li>
                  <li>
                    5. 若購買「自備環保杯寄杯票券」, 兌換時務必「自備環保杯」
                  </li>
                  <li>6. 本券不得與其他優惠合併使用</li>
                  <li>7. 本券於發售時已開立發票, 兌換商品時不再開立發票</li>
                  <li>8. 本券禁止轉售、經塗改變造、偽造者無效, 並依法追究</li>
                  <li>9. 茶醉保有修改內容之權力</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 一般寄杯 -->
    <section>
      <div
        class="d-flex flex-column align-items-center gap-11 pt-12 pb-12 px-0 storage-regular container"
      >
        <div
          class="d-flex flex-column align-items-center storage-regular-title"
        >
          <i data-feather="coffee"></i>
          <h3 class="fs-lg-3 fs-4 fw-bold">一般寄杯</h3>
        </div>
        <ul
          class="storage-regular-list row row-cols-2 row-cols-lg-4 gy-6 gy-lg-0 m-0"
        >
          <li class="col">
            <div class="card-reset storage-regular-items">
              <div class="card">
                <a href="storage-regular-black-tea.html">
                  <p
                    class="item-tag text-center text-primary-main bg-primary-200 p-2"
                  >
                    五享九五組
                  </p>
                  <div class="card-img-wrapper">
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-4-w210.svg"
                      />
                      <img
                        src="/assets/images/drink-4-w67.png"
                        class="card-img-top py-md-9 py-4 px-lg-11 px-11"
                        alt="招牌紅茶"
                      />
                    </picture>
                  </div>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【五享九五】招牌紅茶
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$190</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$200</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-primary w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-reset storage-regular-items">
              <div class="card">
                <a href="storage-regular-black-tea.html">
                  <p
                    class="item-tag text-center text-primary-main bg-primary-200 p-2"
                  >
                    超值十一組
                  </p>
                  <div class="card-img-wrapper">
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-2-w210.svg"
                      />
                      <img
                        src="/assets/images/drink-2-w67.png"
                        class="card-img-top py-md-9 py-4 px-lg-11 px-11"
                        alt="玉露綠茶"
                      />
                    </picture>
                  </div>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【超值十一】玉露綠茶
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$350</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$385</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-primary w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-reset storage-regular-items">
              <div class="card">
                <a href="storage-regular-black-tea.html">
                  <p
                    class="item-tag text-center text-primary-main bg-primary-200 p-2"
                  >
                    超值十一組
                  </p>
                  <div class="card-img-wrapper">
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-6-w210.svg"
                      />
                      <img
                        src="/assets/images/drink-6-w67.png"
                        class="card-img-top py-md-9 py-4 px-lg-11 px-11"
                        alt="四季青茶"
                      />
                    </picture>
                  </div>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【超值十一】四季青茶
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$350</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$385</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-primary w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-reset storage-regular-items">
              <div class="card">
                <a href="storage-regular-black-tea.html">
                  <p
                    class="item-tag text-center text-primary-main bg-primary-200 p-2"
                  >
                    超值十一組
                  </p>
                  <div class="card-img-wrapper">
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-5-w210.svg"
                      />
                      <img
                        src="/assets/images/drink-5-w67.png"
                        class="card-img-top py-md-9 py-4 px-lg-11 px-11"
                        alt="金萱烏龍"
                      />
                    </picture>
                  </div>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【超值十一】金萱烏龍
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$350</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$385</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-primary w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- 自備環保杯寄杯 -->
    <section>
      <div
        class="d-flex flex-column align-items-center gap-11 pt-12 pb-12 px-0 storage-reusable container"
      >
        <div
          class="d-flex flex-column align-items-center storage-reusable-title"
        >
          <img src="/assets/images/glass-tea.svg" alt="glass-tea" />
          <h3 class="fs-lg-3 fs-4 fw-bold">自備環保杯寄杯</h3>
        </div>
        <ul class="storage-reusable-list row row-cols-2 row-cols-lg-4 gy-6 m-0">
          <li class="col">
            <div class="card-reset storage-reusable-items">
              <div class="card">
                <a href="#">
                  <p
                    class="item-tag text-center text-second-400 bg-second-200 p-2"
                  >
                    綠享再折組
                  </p>
                  <div class="card-img-wrapper">
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-4-w210.svg"
                      />
                      <img
                        src="/assets/images/drink-4-w67.png"
                        class="card-img-top py-md-9 py-4 px-lg-11 px-11"
                        alt="招牌紅茶"
                      />
                    </picture>
                  </div>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【綠享再折】招牌紅茶
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$170</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$175</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-second w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-reset storage-reusable-items">
              <div class="card">
                <a href="#">
                  <p
                    class="item-tag text-center text-second-400 bg-second-200 p-2"
                  >
                    綠享再折組
                  </p>
                  <div class="card-img-wrapper">
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-2-w210.svg"
                      />
                      <img
                        src="/assets/images/drink-2-w67.png"
                        class="card-img-top py-md-9 py-4 px-lg-11 px-11"
                        alt="玉露綠茶"
                      />
                    </picture>
                  </div>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【綠享再折】玉露綠茶
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$295</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$330</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-second w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-reset storage-reusable-items">
              <div class="card">
                <a href="#">
                  <p
                    class="item-tag text-center text-second-400 bg-second-200 p-2"
                  >
                    綠享再折組
                  </p>
                  <div class="card-img-wrapper">
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-6-w210.svg"
                      />
                      <img
                        src="/assets/images/drink-6-w67.png"
                        class="card-img-top py-md-9 py-4 px-lg-11 px-11"
                        alt="四季青茶"
                      />
                    </picture>
                  </div>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【綠享再折】四季青茶
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$295</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$330</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-second w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-reset storage-reusable-items">
              <div class="card">
                <a href="#">
                  <p
                    class="item-tag text-center text-second-400 bg-second-200 p-2"
                  >
                    綠享再折組
                  </p>
                  <div class="card-img-wrapper">
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-5-w210.svg"
                      />
                      <img
                        src="/assets/images/drink-5-w67.png"
                        class="card-img-top py-md-9 py-4 px-lg-11 px-11"
                        alt="金萱烏龍"
                      />
                    </picture>
                  </div>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【綠享再折】金萱烏龍
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$295</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$330</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-second w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
