<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>【五享九五】招牌紅茶</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="bg-brown">
      <div class="py-lg-12 py-6 px-0 shopping-guide container">
        <div class="row m-0">
          <div
            class="d-flex flex-lg-row flex-column justify-content-lg-between align-items-center"
          >
            <div class="col h-100">
              <picture>
                <source
                  srcset="../assets/images/shopping-guide-sm.png"
                  media="(max-width: 992px)"
                />
                <img
                  src="../assets/images/shopping-guide.png"
                  alt=""
                  class="h-100 object-fit rounded-4"
                />
              </picture>
            </div>

            <div class="col">
              <div class="d-flex flex-column gap-6 ps-lg-9 shopping-guide-info">
                <h1 class="text-second-400 fs-lg-1 fs-5 pt-lg-0 pt-6">
                  購物須知
                </h1>
                <ol>
                  <li>1. 請出示票券給服務人員作核銷，每張票券限使用一次</li>
                  <li>2. 票券不得加價加料</li>
                  <li>3. 票券可轉贈</li>
                  <li>4. 票券使用期限為90天</li>
                  <li>
                    5. 若購買「自備環保杯寄杯票券」，兌換時務必「自備環保杯」
                  </li>
                  <li>6. 本券不得與其他優惠合併使用</li>
                  <li>7. 本券於發售時已開立發票，兌換商品時不再開立發票</li>
                  <li>8. 本券禁止轉售、經塗改變造、偽造者無效，並依法追究</li>
                  <li>9. 茶醉保有修改內容之權力</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 商品介紹 -->

    <!-- 你可能還想來點 -->
    <div class="more-drinks">
      <!-- pc -->
      <section class="d-lg-block d-none">
        <div
          class="d-flex flex-column align-items-center gap-11 pt-12 pb-12 px-0 storage-regular container"
        >
          <div
            class="d-flex flex-column align-items-center storage-regular-title"
          >
            <h3 class="fs-lg-3 fs-4 fw-bold">你可能還想來點</h3>
          </div>
          <ul
            class="storage-regular-list row row-cols-2 row-cols-lg-4 gy-6 gy-lg-0 m-0"
          >
            <li class="col">
              <div class="card-reset storage-regular-items">
                <div class="card">
                  <a href="../pages/storage-regular-black-tea.html">
                    <p
                      class="item-tag text-center text-primary-main bg-primary-200 p-2"
                    >
                      五享九五組
                    </p>
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-4-w210.png"
                      />
                      <img
                        src="/assets/images/drink-4-w67.png"
                        class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                        alt="招牌紅茶"
                      />
                    </picture>
                    <div class="card-body p-2">
                      <div
                        class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">
                          【五享九五】招牌紅茶
                        </h6>
                        <div
                          class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                        >
                          <h6 class="card-title fs-lg-6 fs-body">NT$190</h6>
                          <small
                            class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                            >NT$200</small
                          >
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="btn-wrapper">
                  <button
                    type="button"
                    class="btn rounded-0 card-buy-btn-primary w-100"
                  >
                    <p>加入購物車</p>
                  </button>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card-reset storage-regular-items">
                <div class="card">
                  <a href="#">
                    <p
                      class="item-tag text-center text-primary-main bg-primary-200 p-2"
                    >
                      超值十一組
                    </p>
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-2-w210.png"
                      />
                      <img
                        src="/assets/images/drink-2-w67.png"
                        class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                        alt="玉露綠茶"
                      />
                    </picture>
                    <div class="card-body p-2">
                      <div
                        class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">
                          【超值十一】玉露綠茶
                        </h6>
                        <div
                          class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                        >
                          <h6 class="card-title fs-lg-6 fs-body">NT$350</h6>
                          <small
                            class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                            >NT$385</small
                          >
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="btn-wrapper">
                  <button
                    type="button"
                    class="btn rounded-0 card-buy-btn-primary w-100"
                  >
                    <p>加入購物車</p>
                  </button>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card-reset storage-regular-items">
                <div class="card">
                  <a href="#">
                    <p
                      class="item-tag text-center text-primary-main bg-primary-200 p-2"
                    >
                      超值十一組
                    </p>
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-6-w210.png"
                      />
                      <img
                        src="/assets/images/drink-6-w67.png"
                        class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                        alt="四季青茶"
                      />
                    </picture>
                    <div class="card-body p-2">
                      <div
                        class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">
                          【超值十一】四季青茶
                        </h6>
                        <div
                          class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                        >
                          <h6 class="card-title fs-lg-6 fs-body">NT$350</h6>
                          <small
                            class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                            >NT$385</small
                          >
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="btn-wrapper">
                  <button
                    type="button"
                    class="btn rounded-0 card-buy-btn-primary w-100"
                  >
                    <p>加入購物車</p>
                  </button>
                </div>
              </div>
            </li>
            <li class="col">
              <div class="card-reset storage-regular-items">
                <div class="card">
                  <a href="#">
                    <p
                      class="item-tag text-center text-primary-main bg-primary-200 p-2"
                    >
                      超值十一組
                    </p>
                    <picture>
                      <source
                        media="(min-width: 375px)"
                        srcset="/assets/images/drink-5-w210.png"
                      />
                      <img
                        src="/assets/images/drink-5-w67.png"
                        class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                        alt="金萱烏龍"
                      />
                    </picture>
                    <div class="card-body p-2">
                      <div
                        class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">
                          【超值十一】金萱烏龍
                        </h6>
                        <div
                          class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                        >
                          <h6 class="card-title fs-lg-6 fs-body">NT$350</h6>
                          <small
                            class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                            >NT$385</small
                          >
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="btn-wrapper">
                  <button
                    type="button"
                    class="btn rounded-0 card-buy-btn-primary w-100"
                  >
                    <p>加入購物車</p>
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- mobile -->
      <section class="d-lg-none">
        <div
          class="d-flex flex-column align-items-center gap-11 px-0 storage-regular container"
        >
          <div
            class="d-flex flex-column align-items-center storage-regular-title"
          >
            <h3 class="fs-lg-3 fs-4 fw-bold">你可能還想來點</h3>
          </div>
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="storage-regular-list">
                  <div class="card-reset storage-regular-items">
                    <div class="card">
                      <a href="../pages/storage-regular-black-tea.html">
                        <p
                          class="item-tag text-center text-primary-main bg-primary-200 p-2"
                        >
                          五享九五組
                        </p>
                        <picture>
                          <source
                            media="(min-width: 375px)"
                            srcset="/assets/images/drink-4-w210.png"
                          />
                          <img
                            src="/assets/images/drink-4-w67.png"
                            class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                            alt="招牌紅茶"
                          />
                        </picture>
                        <div class="card-body p-2">
                          <div
                            class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                          >
                            <h6 class="card-title fs-lg-6 fs-body">
                              【五享九五】招牌紅茶
                            </h6>
                            <div
                              class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                            >
                              <h6 class="card-title fs-lg-6 fs-body">NT$190</h6>
                              <small
                                class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                                >NT$200</small
                              >
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="btn-wrapper">
                      <button
                        type="button"
                        class="btn rounded-0 card-buy-btn-primary w-100"
                      >
                        <p>加入購物車</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="storage-regular-list">
                  <div class="card-reset storage-regular-items">
                    <div class="card">
                      <a href="#">
                        <p
                          class="item-tag text-center text-primary-main bg-primary-200 p-2"
                        >
                          超值十一組
                        </p>
                        <picture>
                          <source
                            media="(min-width: 375px)"
                            srcset="/assets/images/drink-2-w210.png"
                          />
                          <img
                            src="/assets/images/drink-2-w67.png"
                            class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                            alt="玉露綠茶"
                          />
                        </picture>
                        <div class="card-body p-2">
                          <div
                            class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                          >
                            <h6 class="card-title fs-lg-6 fs-body">
                              【超值十一】玉露綠茶
                            </h6>
                            <div
                              class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                            >
                              <h6 class="card-title fs-lg-6 fs-body">NT$350</h6>
                              <small
                                class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                                >NT$385</small
                              >
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="btn-wrapper">
                      <button
                        type="button"
                        class="btn rounded-0 card-buy-btn-primary w-100"
                      >
                        <p>加入購物車</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="storage-regular-list">
                  <div class="card-reset storage-regular-items">
                    <div class="card">
                      <a href="#">
                        <p
                          class="item-tag text-center text-primary-main bg-primary-200 p-2"
                        >
                          超值十一組
                        </p>
                        <picture>
                          <source
                            media="(min-width: 375px)"
                            srcset="/assets/images/drink-6-w210.png"
                          />
                          <img
                            src="/assets/images/drink-6-w67.png"
                            class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                            alt="四季青茶"
                          />
                        </picture>
                        <div class="card-body p-2">
                          <div
                            class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                          >
                            <h6 class="card-title fs-lg-6 fs-body">
                              【超值十一】四季青茶
                            </h6>
                            <div
                              class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                            >
                              <h6 class="card-title fs-lg-6 fs-body">NT$350</h6>
                              <small
                                class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                                >NT$385</small
                              >
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="btn-wrapper">
                      <button
                        type="button"
                        class="btn rounded-0 card-buy-btn-primary w-100"
                      >
                        <p>加入購物車</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="storage-regular-list">
                  <div class="card-reset storage-regular-items">
                    <div class="card">
                      <a href="#">
                        <p
                          class="item-tag text-center text-primary-main bg-primary-200 p-2"
                        >
                          超值十一組
                        </p>
                        <picture>
                          <source
                            media="(min-width: 375px)"
                            srcset="/assets/images/drink-5-w210.png"
                          />
                          <img
                            src="/assets/images/drink-5-w67.png"
                            class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                            alt="金萱烏龍"
                          />
                        </picture>
                        <div class="card-body p-2">
                          <div
                            class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                          >
                            <h6 class="card-title fs-lg-6 fs-body">
                              【超值十一】金萱烏龍
                            </h6>
                            <div
                              class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                            >
                              <h6 class="card-title fs-lg-6 fs-body">NT$350</h6>
                              <small
                                class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                                >NT$385</small
                              >
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                    <div class="btn-wrapper">
                      <button
                        type="button"
                        class="btn rounded-0 card-buy-btn-primary w-100"
                      >
                        <p>加入購物車</p>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev opacity-100"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="prev"
            >
              <i data-feather="chevron-left" aria-hidden="true"></i>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next opacity-100"
              type="button"
              data-bs-target="#carouselExampleControls"
              data-bs-slide="next"
            >
              <i data-feather="chevron-right" aria-hidden="true"></i>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>
    </div>

    <!-- 門市飲品推薦 -->
    <section>
      <div
        class="d-flex flex-column align-items-center gap-11 pt-12 pb-12 px-0 storage-reusable container"
      >
        <div
          class="d-flex flex-column align-items-center storage-reusable-title"
        >
          <h3 class="fs-lg-3 fs-4 fw-bold">門市飲品推薦</h3>
        </div>
        <ul class="storage-reusable-list row row-cols-2 row-cols-lg-4 gy-6 m-0">
          <li class="col">
            <div class="card-reset storage-reusable-items">
              <div class="card">
                <a href="#">
                  <p
                    class="item-tag text-center text-second-400 bg-second-200 p-2"
                  >
                    綠享再折組
                  </p>
                  <picture>
                    <source
                      media="(min-width: 375px)"
                      srcset="/assets/images/drink-4-w210.png"
                    />
                    <img
                      src="/assets/images/drink-4-w67.png"
                      class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                      alt="招牌紅茶"
                    />
                  </picture>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【綠享再折】招牌紅茶
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$170</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$175</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-second w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-reset storage-reusable-items">
              <div class="card">
                <a href="#">
                  <p
                    class="item-tag text-center text-second-400 bg-second-200 p-2"
                  >
                    綠享再折組
                  </p>
                  <picture>
                    <source
                      media="(min-width: 375px)"
                      srcset="/assets/images/drink-2-w210.png"
                    />
                    <img
                      src="/assets/images/drink-2-w67.png"
                      class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                      alt="玉露綠茶"
                    />
                  </picture>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【綠享再折】玉露綠茶
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$295</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$330</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-second w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-reset storage-reusable-items">
              <div class="card">
                <a href="#">
                  <p
                    class="item-tag text-center text-second-400 bg-second-200 p-2"
                  >
                    綠享再折組
                  </p>
                  <picture>
                    <source
                      media="(min-width: 375px)"
                      srcset="/assets/images/drink-6-w210.png"
                    />
                    <img
                      src="/assets/images/drink-6-w67.png"
                      class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                      alt="四季青茶"
                    />
                  </picture>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【綠享再折】四季青茶
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$295</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$330</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-second w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-reset storage-reusable-items">
              <div class="card">
                <a href="#">
                  <p
                    class="item-tag text-center text-second-400 bg-second-200 p-2"
                  >
                    綠享再折組
                  </p>
                  <picture>
                    <source
                      media="(min-width: 375px)"
                      srcset="/assets/images/drink-5-w210.png"
                    />
                    <img
                      src="/assets/images/drink-5-w67.png"
                      class="card-img-top py-lg-6 py-2 px-lg-11 px-11"
                      alt="金萱烏龍"
                    />
                  </picture>
                  <div class="card-body p-2">
                    <div
                      class="d-flex flex-column align-items-center gap-lg-2 gap-1 py-lg-2"
                    >
                      <h6 class="card-title fs-lg-6 fs-body">
                        【綠享再折】金萱烏龍
                      </h6>
                      <div
                        class="d-flex align-items-end gap-lg-2 gap-1 font-lora"
                      >
                        <h6 class="card-title fs-lg-6 fs-body">NT$295</h6>
                        <small
                          class="card-text text-decoration-line-through fs-lg-small fs-tiny"
                          >NT$330</small
                        >
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="btn-wrapper">
                <button
                  type="button"
                  class="btn rounded-0 card-buy-btn-second w-100"
                >
                  <p>加入購物車</p>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- 門市據點 -->
    <section class="store-map">
      <div class="bg-map">
        <div
          class="d-flex align-items-lg-start justify-content-center pt-md-12 pt-0 pb-md-12 pb-10 px-0 container"
        >
          <img
            src="/assets/images/leaf-4.svg"
            alt="leaf"
            class="me-6 d-lg-block d-none"
          />
          <div
            class="d-flex flex-lg-row flex-column-reverse align-items-lg-end align-items-center gap-6 pt-lg-13 pt-6"
          >
            <div class="slogan">
              <h2 class="text-neutral-50 fs-md-2 fs-6">來喝杯吧！</h2>
              <h2 class="text-neutral-50 fs-md-2 fs-6 mb-8">
                快速查詢，美味就在你身邊
              </h2>
              <button type="button" class="btn rounded-0 custom-btn-white">
                <h6 class="d-flex align-items-center">
                  門市據點<img
                    src="/assets/images/arrow-second-main.svg"
                    alt="arrow"
                    class="ms-2"
                  />
                </h6>
              </button>
            </div>
            <img
              src="/assets/images/store.png"
              alt="store"
              class="px-md-0 px-11 py-md-0 py-4"
            />
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
